@import "tailwindcss";

@theme {
  --color-primary-self: 74, 109, 255;
  --color-secondary-self: #ffc107;
}

@layer base {
  body {
    background-color: rgb(238, 238, 238);
    font-family: "vazir";
  }
 .container {
    margin: 0 auto;
    padding: 0 1rem;
 }
 label {
  display: block;
 }
}

@font-face {
  font-family: "vazir";
  font-weight: 400;
  src: url("../public/fonts/Vazirmatn-Regular.woff2");
}

@font-face {
  font-family: "vazir";
  font-weight: 700;
  src: url("../public/fonts/Vazirmatn-Bold.woff2");
}

@font-face {
  font-family: "vazir";
  font-weight: 900;
  src: url("../public/fonts/Vazirmatn-Black.woff2");
}
